<%= image_tag('img00.png') %>
<h1><a href="#">Tops#index</a></h1>
<p>Find me in app/views/tops/index.html.erb</p>
<%= javascript_include_tag '/assets/common' %>
<%= javascript_include_tag '/assets/top' %>
<!-- <script src="/assets/application.js"></script>
<script src="/assets/other.js"></script> -->
